<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="containter text-center">
    <div>
        <h1>Sign Up</h1>
    </div>

    <form th:action="@{/process_register}" method="POST" th:object="${user}">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-5">
                    <input type="text" th:field="*{firstName}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-5">
                    <input type="text" th:field="*{lastName}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-5">
                    <input type="email" th:field="*{email}" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-5">
                    <input type="password" th:field="*{password}" required/>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="submit" value="Sign Up" class="btn btn-primary" />
        </div>
    </form>
</div>
</body>
</html>